/* Reseteo básico */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #404145;
}

body {
  font-family: "inter", sans-serif;
}

/* Estilos del header */
main header nav {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding: 33px;
  align-items: center;
}

main header nav .links {
  font-size: 18px;
  display: flex;
  gap: 50px;
}

main header nav .links a:hover {
  color: #379911;
}

/* Estilos para el menú desplegable */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1000;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.dropdown-content a {
  padding: 8px 13px;
  color: #404145;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
}
/* Estilo del carrusel */
.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}
.carousel-item img {
  display: block;
  width: 100%;
  height: auto;
}

/* Botones de control */
.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-prev {
  left: 20px;
}
.carousel-control-next {
  right: 20px;
}
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border: solid white;
}
.carousel-control-prev-icon::before {
  border-width: 0 3px 3px 0;
  transform: rotate(135deg);
}
.carousel-control-next-icon::before {
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
}

/* --------------- footer ------------------------ */
.footer {
  background-color: #ffffff;
  padding: 40px;
}

footer .contenido-footer {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.footer .contenido-footer p {
  align-content: center;
  color: #404145;
  font-size: 16px;
}
